In [1]:
import pandas as pd

In [28]:
cik_look_up = pd.read_csv('/Users/shiyiming/Downloads/cik-lookup-data.txt',sep="\n",header=None)

cik_look_up.columns=['company']
cik_look_up['company'].astype('string')

0                                     !J INC:0001438823:
1              #1 A LIFESAFER HOLDINGS, INC.:0001509607:
2         #1 ARIZONA DISCOUNT PROPERTIES LLC:0001457512:
3                          #1 PAINTBALL CORP:0001433777:
4                                      $ LLC:0001427189:
                               ...
840539              ZZIF 2008 INVESTMENT LLC:0001448632:
840540      ZZLL INFORMATION TECHNOLOGY, INC:0001365357:
840541                              ZZX, LLC:0001691924:
840542                 ZZYZX ZZAZX ZZOZX INC:0001184274:
840543              ZZZ MEDIA HOLDINGS, INC.:0001755250:
Name: company, Length: 840544, dtype: string

In [29]:
cik_look_up['CIK']=cik_look_up['company'].str.extract('.*(\d{10})', expand = False)

In [30]:
#cik_look_up = newdf[[0,1]]

#cik_look_up = cik_look_up.rename(columns={0: 'Company name', 1:'CIK'})
#cik_look_up.head(5)

cik_look_up = cik_look_up.drop_duplicates(subset=['CIK'],ignore_index=True)

In [31]:
cik_look_up

                                               company         CIK
0                                   !J INC:0001438823:  0001438823
1            #1 A LIFESAFER HOLDINGS, INC.:0001509607:  0001509607
2       #1 ARIZONA DISCOUNT PROPERTIES LLC:0001457512:  0001457512
3                        #1 PAINTBALL CORP:0001433777:  0001433777
4                                    $ LLC:0001427189:  0001427189
...                                                ...         ...
777959                      ZZ DRIGGS INC.:0001887875:  0001887875
777960                       ZZ GLOBAL LLC:0001501460:  0001501460
777961            ZZIF 2008 INVESTMENT LLC:0001448632:  0001448632
777962                            ZZX, LLC:0001691924:  0001691924
777963               ZZYZX ZZAZX ZZOZX INC:0001184274:  0001184274

[777964 rows x 2 columns]

In [4]:
test = cik_look_up.sample(100)
test

                                             Company name         CIK
636452                                         SHAW JARED  0001017810
200051                                      DICKINSON IAN  0001708728
600710  ROBERT INGLE, SR. ADMINISTRATIVE TRUST UTA ROB...  0001517932
611699                                     RYBACHA ANDREW  0001511196
721239               URBANA VARRO OPPORTUNITY FUND I, LLC  0001512029
...                                                   ...         ...
515419  NUVEEN TAX EXEMPT UNIT TRUST SERIES 196 NATION...  0000356903
546940                                    PEISER EUGENE S  0001053763
37594                          AMERICANAN LAKEWOOD V, LLC  0001728133
160648                            COMMERCIAL POSTGRES INC  0001311470
69786                                       BARKER SCOT B  0001548302

[100 rows x 2 columns]

In [5]:
a=test['CIK']
type(a)
b=pd.Series(['0001600319'])
b
newtest = a.append(b,ignore_index=True)
newtest

0      0001017810
1      0001708728
2      0001517932
3      0001511196
4      0001512029
          ...
96     0001053763
97     0001728133
98     0001311470
99     0001548302
100    0001600319
Length: 101, dtype: object

In [ ]:
for cik in newtest:
    i=scraper(cik)
    print (i)